html,body { height: 100%; margin: 0px; padding: 0px; }

/* .flex-container { */
/*   padding: 0; */
/*   margin: 0; */
/*   height: 100%; */
/*   list-style: none; */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */
/*   display: -webkit-flex; */
/*   display: flex; */
/*   -webkit-flex-flow: row wrap; */
/*   justify-content: space-around; */
/* } */

/* .flex-container > * { */
/*   padding: 10px; */
/*   flex: 1 auto; */
/*   -webkit-flex: 1 auto; */
/*   -moz-flex: 1 auto; */
/*   -ms-flex: 1 auto; */
/*   height: 100%; */
/* } */

#form {
  height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 90%;
}

.mybody {
  height: 90%;
}

.blame-1 {
    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.7);
    /* font-weight: bold; */
}
.blame-1.blame-2 {
    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.7);
    /* font-weight: bold; */
}
/* .blame-1.blame-2 { */
/*     background-color: rgba(255, 0, 0, 0.5); */
/*     font-weight: bold; */
/* } */
.blame-1.blame-2.blame-3 {    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.7);
    /* font-weight: bold; */
}
.blame-2 {
    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.3);
    /* font-weight: bold; */
}
.blame-2.blame-3 {
    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.3);
    /* font-weight: bold; */
}
.blame-3 {
    /* display: inline-box; */
    /* padding: 2px; */
    background-color: rgba(255, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

.panel {
    background: #f7f7f7;
    padding: 3px 7px;
    font-size: 0.85em;
    margin-bottom: 0px;
  }
.panel.top, .panel.after-top {
    border-bottom: 1px solid #ddd;
}
.panel.bottom, .panel.before-bottom {
    border-top: 1px solid #ddd;
}
